.audio_button {
	color: white;
	background-color: transparent;
	border: 2px solid white;
	padding: 0.5em;
	border-radius: 2em;
	margin: 0em 1em;
}

.disabled_button {
	pointer-events: none;
	color: #ccc;
	background-color: transparent;
	border: 2px solid white;
	padding: 0.5em;
	border-radius: 2em;
	margin: 0em 1em;
}
